@{
    ViewData["Title"] = "Mi primera vista";
    string autor = "Adrian";
    int edad = 26;

}

<html>
    <head>  
        <title>@ViewBag.Tile</title>
    </head>
    <body>
        <div>
            <h1>Modificando una vista</h1>
            <p>
            <strong>Yo soy:</strong> @autor <br />
            Mi edad es <input type="number" value="@edad" placeholder="26"/>
            </p>
        </div>
    </body>

</html>
